@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Margin, Border and Padding defaults removed site wide */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* font style, background color and width of main body */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #35363a;
    width: 100%;
    color: #f0f0f0; 
}

/* Nav bar styling */
.head-container {
    background-color: #35363a;
    width: 1248px;   
    height: 75px;
    margin: 0 auto;
}

/* Logo styling */
#logo {
    height: 50px;
    width: auto;
    padding: 10px 0;
    float: left;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    float: right;
}

#menu li {
    float: left;
    padding-left: 25px;
    line-height: 75px;
    padding-right: 10px;
}

#menu a {
    text-decoration: none;
    color: #f0f0f0;
}

#menu a:hover {
    border-bottom: 1px solid #f0f0f0;
}

.active {
    border-bottom: 1px solid #8ED7FC;
}

/* Main content styling home page */
.content-container {
    width: 1248px;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-self: center;
    padding-top: 4.5em;
}

#printer-image-container {
    width: 50%;
    border-radius: 20px;
}

#printer-image {
    width: 100%;
    border-radius: 20px;
}

#big-text {
    width: 50%;
    text-transform: uppercase;
    padding-left: 1em;
}

#big-text h1 {
    font-size: 650%;
    font-weight: 900;
    color: #7037ab;
    line-height: 0.65em;
    padding-bottom: 1.65rem;
    letter-spacing: 0.1rem;
}

#big-text h2 {
    font-size: 650%;
    font-weight: 600;
    letter-spacing: 0.44rem;
    line-height: 1.1em;
}

#big-text #block-text {
    font-display: block;
    background-color: #f0f0f0;
    width: 45%;
    color: #7037ab;
    text-align: center;
    margin-top: -10px;
    margin-left: 0.6em;
    font-size: 90%;
}

#line-break {
    width:100%;
    height: 2px;
    background-color: #f0f0f0;
    margin-top: 2em;
}

#left-blurb {
    width: 45%;
    font-size: 150%;
    float: left;
}

#right-blurb {
    float: right;
    font-size: 150%;
    width: 45%;
}

#left-blurb p {
    font-size: 0.62em;
    text-transform: none;
}

#right-blurb p {
    font-size: 0.62em;
    text-transform: none;
}


/* Gallery section styling from here */
#gallery-page {
    display: block;
    margin-top: 100px;
}

#gallery-title {
    font-size: 400%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #7037ab 5px;
    text-underline-offset: 15px;
    color: #f0f0f0;
    letter-spacing: 0.44rem;
    font-weight: 400;
}

#gallery-title h2 {
    font-weight: 600;
}

#gallery-images {
    clear: both;
    column-count: 3;
    column-gap: 4px;
    margin-top: 25px;
}

#gallery-images img {
    width: 100%;
    border-radius: 20px;
}

#gallery-images img:hover {
    border: 2px solid #8ED7FC;
    transform: scale(1.1);
}

/* contact form styling from here */
#contact-form {
    display: block;
    margin-bottom: 100px;
}

#contact-title {
    text-align: center;
}

#contact-title h2 {
    font-size: 400%;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline #7037ab 5px;
    text-underline-offset: 15px;
    color: #f0f0f0;
    font-weight: 600;
    letter-spacing: 0.44rem;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #8ED7FC;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    align-self: center;
    color: #7037ab;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    align-self: center;
    color: #7037ab;
    border: 2px solid #8ED7FC;
}

input[type=submit] {
    background-color: #7037ab;
    color: #f0f0f0;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #8ED7FC;
  }


/* Tablet styling */
@media screen and (max-width:1247px) {
    .head-container {
        width: 90%;   
    }
    
    .content-container {
        width: 90%;
        display: inline-block;
        align-self: center;
        padding-top: 1em;
    }

    #printer-image-container {
        width: 110%;
        padding-bottom: 2em;
    }

    #big-text {
        width: 100%;
        float: left;
    }

    /* Gallery styling tablet */
    #gallery-title {
        font-size: 325%;
        font-weight: 400;
    }
    /* Contact form styling tablet */
    #contact-form {
        width: 90%;
    }

    #contact-title h2 {
        font-size: 325%;
    }
}


/* Mobile styling */
@media screen and (max-width: 700px) {
    .head-container {
        width: 100%;
    }

    .content-container {
        width: 90%;
        align-self: center;
        padding-top: 1em;
    }

    #printer-image-container {
        width: 110%;
        padding-bottom: 1em;
    }

    #big-text {
        width: 100%;
    }

    #big-text h1 {
        font-size: 325%;
        padding-bottom: 1rem;
    }

    #big-text h2 {
        font-size: 325%;
    }

    #left-blurb {
        width: 90%;
    }
   
    #right-blurb {
        width: 90%;
        float: left;
    }

    #left-blurb p {
        text-align: left;
    }

    #right-blurb p {
        text-align: left;
    }

    #big-text #block-text {
        width: 90%;
        margin-top: 10px;
        margin-left: 0;
    }
    
    #line-break {
        width: 90%;
    }

/* Gallery styling mobile */
    #gallery-images {
    column-count: 2;
}

    #gallery-title {
    font-size: 250%;
}

/* Contact form styling tablet */
#contact-form {
    width: 90%;
}

#contact-title h2 {
    font-size: 250%;
    padding-bottom: 16px;
}
}


